{% extends 'base.html' %}
{% block title %} Log in {% endblock %}

{% load static %}
{% block style %}
<style>
    body {
        background-color: #C97D60;
    }

    form legend {
        background-color: #63372C;
        color: #262322;
        border-color: #262322;
    }

    form fieldset {
        overflow: hidden;
        height: 0;
        background-color: #63372C;
        border-color: #262322;
        transition: height 1s;
    }

    .gg {
        height: 180px;
    }

    .signup-login {
        text-align: center;
    }
    .signup-login a:hover {
        color: #63372C;
        text-shadow: white 1px 1px;
    }
</style>
{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Log in</legend>
            <ul>
                <li>
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username">
                </li>
                <li>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password">
                </li>
                <li>
                    <input type="submit" value="Log in">
                </li>
            </ul>
        </fieldset>
        <h4 class="signup-login">Don't have an account? <a href="{% url 'signup' %}">Sign Up!</a> or <a href="{% url 'home' %}">Continue as Guest</a></h4>
    </form>
    <script src="{% static 'script/script.js' %}"></script>

{% endblock %}