{% extends 'base.html' %}


{% block title %}
    Verify Email
{% endblock title %}
    
{% block content %}
<span style="display: none;" id="csrf-t">{% csrf_token %}</span>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <h1>Verify your email</h1>
        <p>We sent a 4-digit verification code to {{ email }}</p>
        <input type="text" name="v-code-input" id="v-code-input">

        <h4 style="color: red;"></h4>
        
        <input type="submit" value="Verify">
    </form>
    <span class="resend-cd">10</span>
    <button class="resend" disabled>Re-send code</button>

    <script>
        const resendCd = document.querySelector('.resend-cd')
        const totalWaitTime = 10
        let x = totalWaitTime

        const csrf = document.querySelector('#csrf-t input').value
        const resendBtn = document.querySelector('.resend')
        function countDown(){
            resendCd.innerText = x
            x--
            if (x >= 0){
                setTimeout(countDown, 1000)
            }
            else {
                resendBtn.removeAttribute('disabled')
                resendCd.innerText = ''
            }
        }
        countDown()
        
        resendBtn.addEventListener('click', fetchResend)

        document.querySelector('form').addEventListener('submit', function(evt){
            evt.preventDefault();
            fetch("{% url 'signup' %}", {
                method: 'post',
                body: JSON.stringify({
                    email: '{{ email }}',
                    'v-code-input': document.getElementById('v-code-input').value
                }),
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrf
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.code_failed == true){
                    document.querySelector('h4').innerText = 'Wrong code, try again.'
                }
                else {
                    document.body.innerHTML = `<h1>Sign Up Success!</h1><a href="{% url 'home' %}">Go to Home page</a>`
                }
            })
        })
        
        function fetchResend(){
            resendBtn.setAttribute('disabled', 'disabled')
            fetch("{% url 'resed-verification' %}", {
                method: 'post',
                body: JSON.stringify({
                    email: "{{ email }}"
                }),
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrf,
                }
            })
            .then(data => {
                x = totalWaitTime
                countDown()
            })
        }

    </script>
{% endblock content %}
    