{% extends 'base.html' %}

{% block title %}
    Interactive
{% endblock title %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/nav-bar-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
{% endblock %}


{% block style %}
    <style>
        nav > div .home-op {
            background-color: #60AFFF;
            color: white;
            text-shadow: #00171F .5px .5px .5px;
        }
    </style>
{% endblock style %}
    

{% block content %}
    {% include 'partials/nav-bar.html' %}
    
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    
{% endblock content %}
    